body {
  background: url("../images/stars.png") repeat;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
}

h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
}

header {
  background: url("../images/IMG_BG.png") no-repeat 0 0;
  background-size: contain;
  min-height: 920px;
  padding: 21px 10px 157px 10px;
  overflow: hidden;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}
.nav_bar a {
  display: inline-block;
  margin-right: 40px;
  transition: 0.5s;
}

.nav_bar a:hover {
  border-bottom: 2px solid #9a9a9a;
  padding-bottom: 20px;
  color: #9a9a9a;

}

.nav_bar {
  float: right;
  line-height: 2.6;
}

.nav_bar h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.title h1 {
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 41px;
  margin-top: 310px;
}

.title p {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 16px;
  margin-bottom: 300px;
}

.title span {
  display: block;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 10px;
  margin-bottom: 33px;
}

.info_block {
  background: url("../images/img_moon.png") no-repeat -16em 0;
  min-height: 1060px;
  position: relative;
  overflow: hidden;
}

.info_block h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 8px;
  margin-bottom: 100px;
}

.flex_icons {
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 150px;
}

.flex_item {
  display: flex;
  flex-basis: 9em;
  text-align: center;
  flex-direction: column;
  justify-content: inherit;
}

.flex_item p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.76;
  letter-spacing: 2px;
  margin: 0;
}

.stripe {
  padding: 30px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 169px;
}

.stripe h3 {
  font-weight: normal;
  line-height: 1.76;
  letter-spacing: 6px;
  display: inline-block;
  margin-right: 160px;
}

button {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: none;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 10px;
  color: #ffffff;
  outline: none;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 5px;
  color: #9a9a9a;
}

.line {
  position: absolute;
  top: 15px;
  z-index: -1;
  min-height: 1px;
  width: 100%;
  background-color: #9a9a9a;
}

.flex_planet {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  margin-bottom: 84px;
}

.flex_planet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.76;
  letter-spacing: 2px;
  margin: 0;
}

.flex_planet h3 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.category_item {
  display: flex;
  flex-basis: 14em;
  text-align: start;
  flex-direction: column;
  align-items: center;
}
.category_item h3 {
  flex-wrap: wrap;
  width: 130px;
  text-align: center;
}

div.line + div.category_item {
  margin-right: 3em;
}

div.category_item ~ div.category_item {
  flex-basis: 7em;
}

div.category_item:last-child {
  margin-right: 7em;
}

.ellipse {
  width: 30px;
  height: 30px;
  background-color: #9a9a9a;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: 0.5s;
}

.ellipse:hover {
  background-color: white;
  cursor: pointer;
}

.info_button {
  padding-bottom: 6px;
}
.break {
  margin-bottom: 274px;
}
.cosmonaut {
  position: absolute;
  top: 47em;
  right: -3em;
  z-index: -3;
}

.trip_videoblog h2 {
width: 50%;
}